//
// Layout
// Styles for main layout
// --------------------------------------------------
body{
  margin: 60px 0 0;
  #content {
    h2 {
      font-size: 3.4em;
      line-height: 110%;
    }
  }
  @media (max-width: 767px) {
    margin-top: 20px;
    #sidebar {
      margin-bottom: 40px;
      position: relative;
      &:after {
        content: '';
        border-bottom: 1px solid $grayLighter;
        width: 100px;
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin: 0 0 0px -50px;
      }
    }
  }
}


