// Menu
// Styles for Menus and Navs
// --------------------------------------------------

// Main Menu
// --------------------------------------------------
#main-menu {
  float: right;
  clear: right;
  ul.menu {
    > li {
      float: none;
      a {
        background: none;
        padding: 5px 0;
        text-align: right;
        @include box-shadow(none);
        &:hover, &.active {
          color: $linkColorHover;
          background: none;
          @include box-shadow(none);
        }
      }
    }
    ul {
      display: none;
    }
  }
  @media (max-width: 767px) {
    float: none;
    ul.menu {
      > li {
        a {
          display: block;
          text-align: center;
        }
      }
    }
  }
}
